@font-face {
    font-family: 'Turds';
    src: url('Turds-vppD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Showcard';
    src: url('Showcard Gothic Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Shlop';
    src: url('shlop rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.headings {
    margin-top: 14em;
    position: relative;
}

#countdown {
    font-family: 'Shlop', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    text-align: center;
    position: relative;
    background-color: black;
    background-image: url('reversedgif.gif');
    background-size: cover; /* Adjusts the GIF to cover the entire page */
    background-repeat: no-repeat; /* Prevents repetition */
    background-position: center; /* Centers the GIF */
    background-attachment: fixed;
}

#countdown {
    font-size: 12em;
    font-weight: bold;
    position: center;
    margin-top: 180px;
    right: 11em;
    display: inline-block;
    padding: 20px 30px;
    border-radius: 50% 50% 20% 20%;
    z-index: 2;
    color: #39FF14;
    text-shadow: 0 0 30px black, 0 0 20px #39FF14, 0 0 10px #39FF14;
}


h1 {
  font-family: Turds, serif;
  color: #39FF14;
  font-size: 5em;
  text-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
}

h2 {
  font-family: Turds, serif;
  color: #39FF14;
  font-size: 2.95em;
  display: none;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;

}

h3 {
  font-family: Turds, serif;
  color: #39FF14;
  font-size: 7em;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 10px black;
}

#startButton {
    font-size: 5.5em;
    background-color: #39FF14;
    color: black;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 30px;
    font-family: Turds, serif;
    box-shadow: 0 0 10px #39FF14, 0 0 10px #39FF14, 0 0 50px black;
    text-shadow: 0 0 5px black;
}

#startButton:hover {
    background-color: #39FF14;
    box-shadow: 0 0 10px black, 0 0 5px #39FF14, 0 0 30px #39FF14;
    color: black;
    text-shadow: 0 0 10px black;
}

@media only screen and (max-width: 55.75em) {
    #countdown {
        font-size: 14vw; /* Adjust based on screen width */
        margin-top: 20vh;
        right: auto;
        display: block;
    }

    h1 {
        font-size: 10vw;
    }

    h2 {
        font-size: 8vw;
    }

    h3 {
        font-size: 13vw;
    }

    #startButton {
        font-size: 7vw;
        padding: 10px 20px;
    }

    #startButton:hover {
    background-color: #39FF14;
    box-shadow: 0 0 10px black, 0 0 5px #39FF14, 0 0 30px #39FF14;
    color: black;
    text-shadow: 0 0 10px black;
    }

    html, body {
        background-image: url('reversedgif-ezgif.com-rotate.gif');
    }

    .headings {
    margin-top: 10em;
    position: relative;
    }
}

